<!DOCTYPE html>
<html>
<head>
  <title>ShirtHappens</title>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body id="home">
<div class="container-fluid">
  <main> <!-- class="fcontainer" -->
    

    <div class="all-content">
      <nav class="user">
          <ul>
            <% if logged_in? %>
               <li>Hey, <%= current_user.email %></li>
               <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
             <% else %>
               <li><%= link_to "Sign up", sign_up_path %></li>
               <li><%= link_to "Sign in", sign_in_path %></li>
             <% end %>
            </ul>
      </nav>
      <section class="banner"><!-- skewed -->
        <h1>Shirt Happens</h1>
        <h2>You are what you wear</h2>
      </section>
      <nav class="views"> 
        <div class="redbtn"> 
          Scroll Down <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </div>
      </nav> 
    </div><!-- all-content -->

    <section class="gallery-container">
      <ul class='row gallery-list'>
        <%= render partial: '/shirts/shirt', collection: @shirts %>
      </ul>
    </section><!-- gallery-container -->
  </main>
</div><!-- container -->

</body>
</html>
