<section class="row">
  <aside class="col-xs-6">
  <h1><%= @shirt.name %></h1>
  <h2>by <%= @shirt.artist %></h2>
  Check this shirt out <%= link_to "here", @shirt.url %>
  <p>
    <%= link_to "Edit this shirt", edit_shirt_path(@shirt) %>
  </p>
  <% if logged_in? %>
    <p><%= link_to "Add to your collection", ownerships_path(shirt_id: @shirt.id), method: :post %></p>
  <% end %>
  <h3>Users that currently own this shirt</h3>
  <ul>
    <% @shirt.owners.each do |owner| %>
      <li><%= owner.email %></li>
    <% end %>
  </ul>
  </aside>
  <article class="col-xs-6">
    <%= image_tag @shirt.image_url, class: 'img-responsive' %>
  </article>
</section>
