<main>
  <div class="container">
    <section id="shirt" class="row">
      <div class="info col-md-6 offset-md-1">
        <h1><%= @shirt.name %></h1>
        <h2>by <%= @shirt.artist %></h2>
        <nav class="views">
          <ul>
           <li><%= link_to "<< Back to Shirts Menu", shirts_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Edit this shirt >>", edit_shirt_path(@shirt) %></li>
            <% end %>
            
            <% if logged_in? && !current_user.likes?(@shirt) %>
              <li><%= link_to "Add to your collection", ownerships_path(shirt_id: @shirt.id), method: :post, id: :addCollection %></li>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="shirt-container col-md-5">
      <span class="frame frame775"><span></span></span>
        <%= image_tag @shirt.image_url, class: 'img-responsive' %>
      </div>
    </section>
  </div>

  <section id="recommendations" class="banner fade-out">
    <div class="wrapper">
    <% if current_user.likes?(@shirt) %>
          <h2>You might also like this....</h2>
          <ul>
            <% @recommendations.each do |item| %>
              <li class='col-xs-3 recommended '>
                
                <div class="shirt-container">
                  <span class="frame frame-sm"><span></span></span>
                  <%= image_tag item.image_url, class: 'img-responsive' %>
                </div>
                <div class="shirt-heading">
                  
                  <%= link_to item.name, shirt_path(item) %>
                </div>

              </li>
            <% end %>
          </ul>
        <% end %></div>
  </section>

  
</main>