<!DOCTYPE html>
<html>
<head>
  <title>ShirtHappens</title>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header>
  <div class="container-fluid">
    <nav class="user">
      <ul>
      <% if logged_in? %>
         <li>Hey, <%= current_user.email %></li>
         <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
       <% else %>
         <li><%= link_to "Sign up", sign_up_path %></li>
         <li><%= link_to "Sign in", sign_in_path %></li>
       <% end %>
      </ul>
    </nav>
    <section class="banner">
      <h1>Shirt Happens</h1>
      <h2>You are what you wear</h2>
      </section>
 
  </div><!--container-fluid -->
</header> 
<h5 class="notice"><%= notice %></h5>
  <p><%= link_to "Shirts", shirts_path %></p>
<%= yield %>

</body>
</html>
